.student_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.profile {
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .student_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */
